<div class="text-center p-3">
  <h1>Dashboard</h1>
</div>
<h3>Statistikk:</h3>
<div class="card bg-dark mt-4 border-white">
    <div class="card-body border-white">
   <p class="card-title">Kundeservice:</p>
    <p class="card-title text-success"><strong>- Bra:  <%= q1Bra %> av <%= total %></strong></p>
    <p class="card-title text-warning"><strong>- Nøytral:  <%= q1Nøytral %> av <%= total %></strong></p>
    <p class="card-title text-danger"><strong>- Dårlig:  <%= q1Dårlig %> av <%= total %></strong></p>
</div>
</div>
<div class="card bg-dark mt-4 border-white">
    <div class="card-body border-white">
   <p class="card-title">Rekkomendere:</p>
    <p class="card-title text-success"><strong>- Ja:  <%= q2Ja %> av <%= total %></strong></p>
    <p class="card-title text-warning"><strong>- Usikker:  <%= q2Usikker %> av <%= total %></strong></p>
    <p class="card-title text-danger"><strong>- Nei:  <%= q2Nei %> av <%= total %></strong></p>
    </div>
</div>
<h3 class="mt-5">Tilbakemeldinger:</h3>
<% feedbackForms.forEach(form => { %>
<div class="card bg-dark border-white mt-4">
  <div class="card-header">
    Fra: <%= form.name %> - Email: <%= form.email %>
  </div>
  <div class="card-body">
    <p class="card-title">Kundeservice: <strong><%= form.q1Radio %></strong></p>
    <p class="card-title">Rekkomendere: <strong></strong><%= form.q2Radio %></strong></p>
    <h5 class="card-title"><%= form.additionalText %></h5>
  </div>
</div>
<% }) %>
