
  <!-- Breadcrumbs -->
  <div class="page-breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard">Hjem</a></li>
      <li class="breadcrumb-item active">Brukere</li>
    </ul>
  </div>
  <!-- Page Header-->
  <div class="page-header">
    <h1 class="page-heading">
      Brukere
      <button class="btn btn-success my-auto p-2">
        <a href="/dashboard/users/new" class="text-white text-decoration-none">
          Legg til</a
        >
      </button>
    </h1>
  </div>
  <section>
    <div class="row">
      <% for (let bruker of brukere) { %>
      <div class="col-md-6 col-xl-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <svg class="svg-icon svg-icon-md me-3">
                  <use xlink:href="/icons/orion-svg-sprite.svg#<%= bruker.sex == "true" ? "man-1": "woman-1" %>"></use>
                </svg>
              </div>
              <div class="flex-grow-1 ps-3 overflow-hidden mx-4">
                <h5 class="card-text mb-0"><%= bruker.name %></h5>
                <p class="card-text text-uppercase text-muted">
                  <%= bruker.rolle %>
                </p>
                <p class="card-text">
                  <%= bruker.username %><br /><abbr title="Phone"></abbr><%=
                  bruker.telefon %>
                </p>
              </div>
            </div>
            <a class="stretched-link" href="/dashboard/users/<%= bruker._id %>"></a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </section>

