<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head -->
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <!-- Includes -->

    <!-- dashbaord -->
    <header class="header">
        <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
          <a class="sidebar-toggler text-gray-500 me-4 me-lg-5 lead" href="#"
            > <i class="fas fa-align-left"></i></a>
            <a class="navbar-brand fw-bold text-uppercase text-base" href="/dashboard">
              <span class="d-none d-brand-partial"><img
                class=""
                src="/images/kvik-logo90px.png"
                alt="..."
                style="height: 30px;"
              /></span>
            </a>
          <ul class="ms-auto d-flex align-items-center list-unstyled mb-0">
      
            <!-- Messages                        -->
            <li class="nav-item dropdown ms-auto">
              <a
                class="nav-link pe-0 text-gray-700"
                id="userInfo"
                href="#"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ><svg class="svg-icon svg-icon-md me-3">
                  <use xlink:href="/icons/orion-svg-sprite.svg#<%= currentuser.sex == "true" ? "man-1": "woman-1" %>"></use></svg></a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userInfo">
                <div class="dropdown-header text-gray-700">
                  <h6 class="text-uppercase font-weight-bold"><%= currentuser.name %> </h6>
                  <small class="text-uppercase"><%= currentuser.rolle %></small>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/dashboard/users/edit/<%= currentuser._id %> ">Innstillinger</a
                ><a class="dropdown-item" href="/auth/logout">Log out</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="d-flex align-items-stretch">
          <div class="sidebar py-3" id="sidebar">
            <h6 class="sidebar-heading">Meny</h6>
            <ul class="list-unstyled">
              <li class="sidebar-list-item">
                <a class="sidebar-link text-muted" href="/dashboard">
                  <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/icons/orion-svg-sprite.svg#real-estate-1"></use></svg>
                    <span class="sidebar-link-title">Oversikt</span></a>
              </li>
              <li class="sidebar-list-item">
                <a class="sidebar-link text-muted" href="/dashboard/reklamasjoner">
                  <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/icons/orion-svg-sprite.svg#paper-stack-1"></use></svg>
                    <span class="sidebar-link-title">Reklamasjoner</span></a>
              </li>

              <li class="sidebar-list-item">
                <a class="sidebar-link text-muted disabled text-decoration-line-through" href="/dashboard">
                  <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/icons/orion-svg-sprite.svg#pie-chart-1"></use></svg><span class="sidebar-link-title">Statistikk</span></a
                >
              </li>
              <li class="sidebar-list-item">
                <a class="sidebar-link text-muted" href="/dashboard/users">
                  <svg class="svg-icon svg-icon-md me-3">
                    <use xlink:href="/icons/orion-svg-sprite.svg#man-1"></use></svg><span class="sidebar-link-title">Brukere</span></a
                >
              </li>
            
            </ul>
          </div>
          <div class="page-holder bg-gray-100">
            <div class="container-fluid px-lg-4 px-xl-5 my-0">
            <%- include('./partials/flash.ejs') %>
            <%- body %>
          </div>
            <footer
              class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100"
            >
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 text-center text-md-start text-primary">
                    <p class="mb-2 mb-md-0 text-gray-500">kvik &copy; 2021</p>
                  </div>
                </div>
              </div>
            </footer>
          </div>
      </div>

    <!-- Scripts -->
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
