<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head -->
    <%- include('./partials/head.ejs') %>
  </head>

  <body class="d-flex flex-column vh-100">
    <!-- Includes -->
    <!-- header -->
    <%- include('./partials/header.ejs') %>
    <!-- flash -->
    <%= success %>
    <!-- body -->
    <%- body %>
    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- Scripts -->
    <script src="/scripts/bootstrapJS/bootstrap.js"></script>
  </body>
</html>
